@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
    body {
        @apply bg-ether-dark text-ether-text overflow-x-hidden;
    }

    html {
        scroll-behavior: smooth;
    }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #0F0F1E;
}

::-webkit-scrollbar-thumb {
    background: #3D1A4F;
    border-radius: 5px;
    border: 1px solid #5A0D80;
}

::-webkit-scrollbar-thumb:hover {
    background: #A855F7;
}